ggplot2_slides.key
cache
figure
.Rapp.history
*.aux
*.log
*.tex

Morph_for_Sato.csv
assignment-3-answers.R
assignment-3-answers.Rmd
ggplot2-assignment-answers.Rmd
ggplot2-assignment.html
ggplot2-assignment.md
ggplot2-exercises-answers.Rmd
